@import url(./global/global.css);
@import url(./global/header.css);
@import url(./utilitarios/cores.css);
@import url(./utilitarios/tipografia.css);
@import url(./home/introducao.css);
@import url(./bicicletas/bicicletas-lista.css);
@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);
@import url(./home/depoimentos.css);
