@import url(./global/global.css);

/* header e footer */
@import url(./global/header.css);
@import url(./global/footer.css);

/* utilitarios */
@import url(./utilitarios/cores.css);
@import url(./utilitarios/tipografia.css);
@import url(./utilitarios/componentes.css);
@import url(./utilitarios/fomulario.css);

/* home */
@import url(./home/introducao.css);
@import url(./bicicletas/bicicletas-lista.css);
@import url(./home/tecnologia.css);
@import url(./home/parceiros.css);
@import url(./home/depoimentos.css);
@import url(./seguros/seguros.css);

/* bicicletas */
@import url(./bicicletas/bicicletas.css);

/* seguros */
@import url(./seguros/vantagens.css);
@import url(./seguros/perguntas.css);

/* contato */
@import url(./contato/contato.css);
